%header.l-header
  %nav.navbar.navbar-fixed-top.header-bg
    .container
      .navbar-header
        %button.navbar-toggler.hidden-sm-up{:type => "button", :"data-toggle" => "collapse", :"data-target"=>"#niche-nav"}
          ☰
        -# %a.navbar-brand{:href => "#"} Niche
      #niche-nav.collapse.navbar-collapse.navbar-toggleable-xs
        %ul.nav.navbar-nav
          %li.nav-item.active
            =link_to "Home", home_path
          %li.nav-item
            =link_to "Services", services_path
          %li.nav-item
            =link_to "About", about_path
          %li.nav-item
            =link_to "Blog", "/blog"
          %li.nav-item
            =link_to "Shop", shop_path
