.container.l-container
  %h3.text-center.page-header.text-muted About Me
  .row
    .col-md-12
      .media.about-content
        %a.media-left{href: "#"}
          =image_tag 'benefit.png', :class => 'media-object', :height=>240, :width=>240
        .media-body
          %h4.media-heading Interior Designer / Party Planner / Idea Person
          %p.lead
            Hi I am Neisha, the owner and principal designer of Niche Interiors and Events.
            I like to refer to myself as an “Accommodation Specialist”, since I take great pride in creating
            beautiful spaces that are also functional and personalized to the needs of my clients.
          %p
            With an extensive background in Supply Chain, I am also well versed in sourcing and vendor relations,
            which contributes greatly to my ability to satisfy challenging demands and budgets.
          %p
            Besides Interior Design, I am also passionate about nature, history and food.
            In my spare time, I enjoy activities such as browsing design and architectural catalogues, as well as taking long walks around furniture showrooms. 
