.jumbotron.text-xs-center
  .container
    -# %h1 Home controller
    .row
      .col-sm-12
        .l-logo
          =image_tag 'logo.png', :class => 'logo img-responsive'
        %h1.jumbotron-heading
          Niche Interior Designs
        %p.lead.text-muted
          Coming Soon...
