.container.l-container
  %h3.text-center.page-header.text-muted Services
  .row
    .col-md-12
      %h5 Interior Design
      %p
        Our design and styling services include a thorough consultation and covers every aspect of the project up until completion. Timeline and budget schedules are also provided to ensure transparency and accountability throughout.
        We have an extensive directory of suppliers and vendors who are able to source the best and most unique items for your home.

      %hr

      %h5 Space Planning and Organization Consulting
      %p
        The layout and size of a space are often very challenging to work around.
        Niche Decor offers planning and organizing services that convert troublesome spaces into usable ones.
      %p
        We also provide organization services to help increase the efficiency of your space and time.
        From closets, office spaces and various other work areas, we provide the solutions to get rid of the mess.

      %hr

      %h5 Event Design
      %p
        Weddings and other Special Occasions- the room sets the mood!
        Our unique and targeted designs will assist with you and your guest having a great time, as well as a lasting impression.

      %hr

      %h5 Shopping
      %p
        If all you need is a helping hand to assist with shopping, we have plenty and also love to shop.
        A new home or renovation calls for furnishings and finishes that you may just not have the time to source. Niche Decor will assess your needs and deliver them to you.
