/* can be categorized into *major and *minor components
minor: forms, buttons, nav menus are contained in major components
major: big blocks, header, footer, sidebar. only appear once, so can use ids
*/

body {
  xbackground-color: black;
}

.l-logo {
  margin-bottom: 2.5rem;
}

.l-header {
  margin-bottom: 4rem;
}

.l-container {
  width: 900px;
  margin-top:40px;
}

.l-cta { /* layout of call to action */
  padding: 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 700px;
  margin: 0 auto;
}

.l-footer {
  padding: 1rem 0;
  margin-top: 2rem;
  font-size: 85%;
  // background-color: #f7f7f7;
  text-align:center;
}

.l-benefit {
  xborder-top: 1px solid darken(#F7FAF0, 10%);
  xborder-bottom: 1px solid darken(#F7FAF0, 10%);
  padding: 2rem 0;
  margin: 4rem 0;
}

.l-social {
  background-color: #ccc;
  position: fixed;
  top: 39px;
  width: 100%;
  z-index:1000;
  ul {
    padding: 0;
    margin:0;
    li a {
      color: #333;
    }
  }
}
