/* widgets: sidebars, callout, etc */

.logo {
  width: 300px;
}

.call-out {
  font-size: 2.5rem;
}
.secondary-callout {
  margin-bottom: 2.5rem;
}

.cta {
  xbackground-color: #1C2D36;
  background-color: #333;
  h2, p {
    color: #fff;
  }
}
.cta-form {

}

.benefits {
  xcolor: green;
  margin-top: 4.0rem;
}

.benefits_alt {
  xbackground-color: #F7FAF0;
}

.benefits-text {
  margin: 1rem 0;
}

.page-header{
  margin-bottom: 2rem;
}

.about-content .media-heading{
  margin-bottom: 20px;
}

.alert {margin-top:40px;}

.header-bg {
  background-color: #111;
  font-size: 0.95rem;
  text-transform: uppercase;
  xborder-bottom: 2px solid darken(#ccc, 10);
}

.header-bg .nav-item a {
  color: #fff;
  font-weight: normal;
}
.navbar-nav .nav-item + .nav-item {
    margin-left: 1.5rem;
}
