/* widgets: sidebars, callout, etc */

.logo {
  width: 500px;
}

.call-out {
  font-size: 4rem;
}
.secondary-callout {
  margin-bottom: 2.5rem;
}

.cta {
  background-color: #1C2D36;
  h2, p {
    color: #fff;
  }
}
.cta-form {

}
